*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box{
    
    height:100px;
    width: 1000px;
    padding: 20px 20px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.smallbox{
    height:80px;
    width: 100px;
    background-color: yellow;
}