*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


a{
    text-decoration: none;
    color: #9C9C9C;
}
li{
    list-style: none;
    
}

h1,h2,h3,h4,h5{
    font-family: "Raleway", sans-serif;
}

p,button{
    font-family: "IBM Plex Mono", monospace;
}

.section11{
    height: 700px;
    width: 100%;
    background-color:#080808;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
    gap:50px
}

.section11 .navbar1 .burger{
    display: none;
}

.section11 .navbar1{
    height: 85px;
    width: 1110px;
    background-color:#1B1B1B;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    border-radius: 10px; 
    /* position: relative;
    top:0; */
    
}
.section11 .navbar1 .navlinks .menu{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 50px;

}
.section11 .navbar1 .logobox{
    height: 17px;
    width: 107px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:5px;
}
.section11 .navbar1 .logobox img{
    height: 13px;
    width: 22px;
    border-radius: 50px;
}
.section11 .middle{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    color: white;
}
.section11 .middle .content{
    height:247px ;
    width:538px ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.section11 .middle .content h3{
    width:426px;
    height: 72px;
    font-weight: 800;
    font-size: 44px;
    color: #FFFFFF;
}
.section11 .middle .content p{
    width: 492px;
    height: 72px;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;
}
.section11 .middle .content button{
    width: 307.89px;
height:63px;
padding: 21px 64px 21px 64px;
border-radius: 4px 0px 0px 0px;
border: 1px 0px 0px 0px;
font-weight: 700;
font-size: 14px;
background-color:#3F8E00;
}
.section11 .middle .image img{
    height:350px ;
    width:350x ;
    border-radius: 50%;
}
.section11 .worked {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.section11 .worked .companies{
    width: 920px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.section11 .worked .companies img{
    width: 160px;
    height: 60px;


}
.section11 .worked  h3{
    width: 93px;
    height: 18px;
    color: white;
    font-size:14px ;
    font-weight:400 ;
    margin-bottom: 20px;
    margin-left: 10px;
}

@media(max-width:1000px){

    .section11{
        height: auto;
        width: auto;
        display: flex;
        justify-content:flex-start;
        align-items: center;
        flex-direction: column;
        gap:50px
    }
    .section11 .navbar1{
        height: 85px;
        width: 1110px;  
    }

    .section11 .navbar1 .navlinks {
        display: none;
    }
    .section11 .navbar1 .burger{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section11 .navbar1 .burger .line1{
        height: 5px;
        width: 20px;
        background-color: white;
        margin-bottom: 5px;
    }
    .section11 .navbar1 .burger .line2{
        height: 5px;
        width: 20px;
        background-color: white;
        margin-bottom: 5px;
    }
    .section11 .navbar1 .burger .line3{
        height: 5px;
        width: 20px;
        background-color: white;
        margin-bottom: 5px;

    }
    .section11 .middle {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .section11 .middle .image img{
        height:250px ;
        width:250x ;
        border-radius: 50%;
    }
    .section11 .worked .companies{
      margin-bottom: 20px;
    }
    
}
/* case study */
.section3{
    background-color :white ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 50px;
    width: 100%;
}
.section3 .content1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 50px;
}
.section3 .content1 h2{
    height:40px ;
    width:213px ;
    font-weight: 800;
    font-size:34px ;
    margin-bottom: 10px;
}
.section3 .content1 p{
    height:72px ;
    width:570px ;
    font-weight: 400;
    font-size:18px ;
}
.section3 .imagedata1 .sectionimg1{
    display: flex;
    justify-content: center;
    align-items: start;
    width:892px ;
    height:300px ;
}
.section3 .imagedata1 .sectionimg1 .content .box{
    display: flex;
    justify-content: center;
    align-items: center;
    width:72px ;
    height:24px ;
    background-color: #FFF6E9;
    border-radius: 60px;
    margin-top: 27px;
}
.section3 .imagedata1 .sectionimg1 .content button{
    background-color:#2AB090;
    padding: 10px 24px;
    width:190px ;
    height:38px ;
    border-radius: 4px;
    margin-top:20px ;
    color: white;
   

}
.section3 .imagedata1 .sectionimg1 .content h1{
    font-weight: 800;
    font-size: 24px;

}
.section3 .imagedata1 .sectionimg1 .content p{
    font-weight: 400;
    font-size: 14px;
    margin-top: 10px;
}
.section3 .imagedata1  .sectionimg1 .image img{
    width:445px ;
    height:250px ;
    margin-left: 20px;
}
.section3 .imagedata1 .sectionimg1 .content .box{
    display: flex;
    justify-content: center;
    align-items: center;
    width:72px ;
    height:24px ;
    background-color: #FFF6E9;
    border-radius: 60px;
    padding: 0px 10px;
    margin-top: 27px;
    margin-bottom: 27px;

}
.section3 .imagedata1 .sectionimg2{
    display: flex;
    justify-content: center;
    align-items: start;
    width:892px ;
    height:300px ;

}
.section3 .imagedata1 .sectionimg2 .content .box{
    display: flex;
    justify-content: center;
    align-items: center;
    width:72px ;
    height:24px ;
    background-color:#000AFF;
    border-radius: 60px;
    padding: 0px 10px;
    margin-top: 27px;
    margin-bottom: 27px;

}
.section3 .imagedata1 .sectionimg2 .content button{
    background-color: blue;
    padding: 10px 24px;
    width:190px ;
    height:38px ;
    border-radius: 4px;
    margin-top:20px ;
    color: white;
   

}
.section3 .imagedata1 .sectionimg2 .content h1{
    font-weight: 800;
    font-size: 24px;

}
.section3 .imagedata1 .sectionimg2 .content p{
    font-weight: 400;
    font-size: 14px;
    margin-top: 10px;
}
.section3 .imagedata1  .sectionimg2 .image img{
    width:445px ;
    height:250px ;
    margin-right: 20px;
}
.section3 .imagedata1 .sectionimg3{
    display: flex;
    justify-content: center;
    align-items: start;
    width:892px ;
    height:300px ;

}
.section3 .imagedata1 .sectionimg3 .content .box{
    display: flex;
    justify-content: center;
    align-items: center;
    width:72px ;
    height:24px ;
    background-color: #FFF6E9;
    border-radius: 60px;
    padding: 0px 10px;
    margin-top: 27px;
    margin-bottom: 27px;

}
.section3 .imagedata1 .sectionimg3 .content button{
    background-color: orange;
    padding: 10px 24px;
    width:190px ;
    height:38px ;
    border-radius: 4px;
    margin-top:20px ;
    color:white
   

}
.section3 .imagedata1 .sectionimg3 .content h1{
    font-weight: 800;
    font-size: 24px;

}
.section3 .imagedata1 .sectionimg3 .content p{
    font-weight: 400;
    font-size: 14px;
    margin-top: 10px;
}
.section3 .imagedata1  .sectionimg3 .image img{
    width:445px ;
    height:250px ;
    margin-left: 20px;
}
.testomonials
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 804px;
}
.testomonials .content2{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}
.testomonials .content2 h3{
    width:209px;
    height:40px;
    font-weight: 800;
    font-size: 24px;
    color: white;
}
.testomonials .content2 p{
    width:570px;
    height:48px;
    font-weight: 400;
    font-size: 14px;
    color: white;
    margin-bottom: 20px;
}
.testomonials .comments{

    display: flex;
    gap: 20px;
}
.testomonials .comments .arraangement1 .clintcom1{
    width: 445px;
    height: 212px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    border:1px solid white;
    border-radius: 5px;
    margin-bottom: 20px;

}
.testomonials .comments .arraangement1 .clintcom1 .clintinfo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    
}
.testomonials .comments .arraangement1 .clintcom1 p{
    width: 409px;
    height: 72px;
    font-weight: 400;
    font-size: 14px;
    color: white;
    margin-left: 10px;
    
}
.testomonials .comments .arraangement1 .clintcom1 .clintinfo img{
    width: 55px;
    height: 57px;
    border-radius: 100%;
    margin-left: 10px;
}
.testomonials .comments .arraangement1 .clintcom1 .clintinfo h3{
    width: 107px;
    height: 21px;
    color: white;
    
}
.testomonials .comments .arraangement1 .clintcom2{
    width: 445px;
    height: 212px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    border:1px solid white;
    border-radius: 5px;

}
.testomonials .comments .arraangement1 .clintcom2 .clintinfo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    
    
}
.testomonials .comments .arraangement1 .clintcom2 p{
    width: 409px;
    height: 72px;
    font-weight: 400;
    font-size: 14px;
    color: white;
    margin-left: 10px;
    
}
.testomonials .comments .arraangement1 .clintcom2 .clintinfo img{
    width: 55px;
    height: 57px;
    border-radius: 100%;
    margin-left: 10px;
    
}
.testomonials .comments .arraangement1 .clintcom2 .clintinfo h3{
    width: 107px;
    height: 21px;
    color: white;
    
}
.testomonials .comments .arraangement2 .clintcom3{
    width: 445px;
    height: 212px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    border:1px solid white;
    border-radius: 5px;
    margin-bottom: 20px;

}
.testomonials .comments .arraangement2 .clintcom3 .clintinfo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    
}
.testomonials .comments  .arraangement2 .clintcom3 p{
    width: 409px;
    height: 72px;
    font-weight: 400;
    font-size: 14px;
    color: white;
    margin-left: 10px;
}
.testomonials .comments .arraangement2 .clintcom3 .clintinfo img{
    width: 55px;
    height: 57px;
    border-radius: 100%;
    margin-left: 10px;
}
.testomonials .comments .arraangement2 .clintcom3 .clintinfo h3{
    width: 107px;
    height: 21px;
    color: white;
    
}
.testomonials .comments .arraangement2 .clintcom4{
    width: 445px;
    height: 212px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    border:1px solid white;
    border-radius: 5px;
    

}
.testomonials .comments .arraangement2 .clintcom4 .clintinfo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin-left: 10px;
}
.testomonials .comments .arraangement2 .clintcom4 p{
    width: 409px;
    height: 72px;
    font-weight: 400;
    font-size: 14px;
    color: white;
    margin-left: 10px;
}
.testomonials .comments .arraangement2 .clintcom4 .clintinfo img{
    width: 55px;
    height: 57px;
    border-radius: 100%;
}
.testomonials .comments .arraangement2 .clintcom4 .clintinfo h3{
    width: 107px;
    height: 21px;
    color: white;
    
}
.section4{
    height: 676px;
    top:2986px ;
    left: 85px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.section4 .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
}
.section4 .content h3{
    width: 211px;
    height: 40px;

    font-weight: 800px;
    font-size: 34px;

}
.section4 .content p{
    height: 48px;
    width: 570px;
}
.section4 .imagedata {
    display: flex;
    justify-content: space-evenly;
    gap:40px;
}
.section4 .imagedata  p{
    font-size: 14px;
    font-weight: 400;
}
.section4 .imagedata h3{
    font-size: 24px;
    font-weight: 800;
}
.section4 .imagedata .image1{
    height:494px ;
    width: 445px;    
} 
.section4 .imagedata .image2{
    height:494px ;
    width: 445px;    
} 
.section4 .imagedata .image1 img{
    height:300px ;
    width: 435px;
      
    
}
.section4 .imagedata .image2 img{
    height:300px ;
    width: 435px; 
     
}
.section4 .imagedata button{
    height: 38px;
    width:140px ;
    padding:10px 24px ;
    background-color:#3F8E00;
    color: white;
}
.section5{
    height: 672px;
    width: 100%;
    top: 3741px;
    left: 85px;
    background-color:#1B1B1B;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white
}

.section5 .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.section5 .content h3{
    height:40px ;
    width:206px ;
    font-weight: 800px;
    font-size: 34px;

}
.section5 .content p{
    height: 48px;
    width: 570px;
}
.section5 .form{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.section5 .form input{
    height:40px ;
    width:350px;
    padding: 0px 12px;
    border-radius: 4px;
    border: 1px;
    margin-top:12px;
}
.section5 .form h3{
    margin-top: 10px;
}
button{
    background-color: #3F8E00;
    height:50px ;
    width:350px ;
    padding:16px 24px ;
    margin-top:20px ;
    border-radius: 7px;
    
}
footer{
    height: 70px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items:center;
    justify-content: center;
    
}
footer p{
    color: white;
}



