<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="template.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">


</head>

<body>

    <div class="section11">

        <div class="navbar1">
            <div class="navlinks">
                <ul class="menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Case Study</a></li>
                    <li><a href="#">Testimonial</a></li>
                    <li><a href="#">Recent works</a></li>
                    <li><a href="#">Get In Touch</a></li>

                </ul>
            </div>
            <div class="logobox">
                <img src="linked.png" alt="">
                <img src="x log.avif" alt="">
                <img src="be.jpeg" alt="">
            </div>

            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </div>

        <div class="middle">
            <div class="content">
                <h3>M SHYAM SUNDER </h3>
                <P>Intro text: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua. </P>
                <button>Let’s get started > </button>
            </div>

            <div class="image">
                <img src="faceid.webp" alt="">
            </div>
        </div>

        <div class="worked">
            <h3>Worked with </h3>
            <div class="companies">
                <img src="clickup.png" alt="">
                <img src="drop.png" alt="">
                <img src="pay.png" alt="">
                <img src="elas.jpg" alt="">
                <img src="download.png" alt="">
            </div>
        </div>

        
    </div>


    <div class="section3">

        <div class="content1">
            <h2>Case Studies</h2>
            <p>Solving user & business problems since last 15+ years.Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>

        </div>
        <div class="imagedata1">
            <div class="sectionimg1">
                <div class="content">
                    <div class="box">
                        <p>Fintech</p>
                    </div>
                    <h1>Work name here</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna aliqua. sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                    <button>view case study > </button>
                </div>
                <div class="image">
                    <img src="wallimg.png" alt="">
                </div>
            </div>
            <div class="sectionimg2">
                <div class="image">
                    <img src="wallimg.png" alt="">
                </div>
                <div class="content">
                    <div class="box">
                        <p>EdTech</p>
                    </div>
                    <h1>Work name here</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna aliqua. sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                    <button>view case study > </button>
                </div>



            </div>
            <div class="sectionimg3">
                <div class="content">
                    <div class="box">
                        <p>Pharma</p>
                    </div>
                    <h1>Work name here</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna aliqua. sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                    <button>view case study > </button>
                </div>
                <div class="image">
                    <img src="wallimg.png" alt="">
                </div>

            </div>
        </div>

    </div>

    <div class="testomonials">
        <div class="content2">
            <h3> Testimonials</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. </p>
        </div>
        <div class="comments">

            <div class="arraangement1">
                <div class="clintcom1">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. </p>
                    <div class="clintinfo">
                        <img src="faceid.webp" alt="">
                        <h3>clint name</h3>
                    </div>
                </div>
                <div class="clintcom2">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. </p>
                    <div class="clintinfo">
                        <img src="faceid.webp" alt="">
                        <h3>clint name</h3>
                    </div>
                </div>
            </div>
            <div class="arraangement2">
                <div class="clintcom3">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. </p>
                    <div class="clintinfo">
                        <img src="faceid.webp" alt="">
                        <h3>clint name</h3>
                    </div>
                </div>
                <div class="clintcom4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. </p>
                    <div class="clintinfo">
                        <img src="faceid.webp" alt="">
                        <h3>clint name</h3>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="section4">
        <div class="content">
            <h3>Recent Work</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. </p>
        </div>

        <div class="imagedata">
            <div class="image1">
                <img src="wallimg.png" alt="">
                <h3>Work name here</h3>
                <p>Labore et dolore magna aliqua. sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                <button>know more > </button>
            </div>
            <div class="image2">
                <img src="imagwall.png" alt="">
                <h3>Work name here</h3>
                <p>Labore et dolore magna aliqua. sed do eiusmod tempor incididunt ut labore et dolore magna. </p>
                <button>know more > </button>
            </div>
        </div>


    </div>

    <div class="section5">

        <div class="content">
            <h3>Get In Touch</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. </p>
        </div>
        <div class="form">
            <h3>Email</h3>
            <input type="text" placeholder="please enter yor name ">
            <h3>Mobile</h3>
            <input type="number" placeholder="enter your mobile ">
            <h3>Message</h3>
            <input type="text" placeholder="enter your massage ">

        </div>

        <button>submit</button>


    </div>
    <footer>
        <p>made with Love</p>
    </footer>



</body>

</html>